<% provide(:title, 'Welcome back') %>
<div class="text-center hero-unit">
  <h1>RJB Monitoring DB</h1>

  <h2>
    This is a monitoring DB for RJB.
  </h2>

  <div class="row">
  	<div class="span6 offset3">



  	</div>
  </div>

put form here for login

</div>
