<% provide(:title) %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<h1><%= link_to Company.find_by_id(@comment.company_id).name, company_path(id: Company.find_by_id(@comment.company_id)) %></h1>
		<%= link_to "Edit", edit_comment_path %> /
		<%= link_to "Delete", @comment, method: :delete, data: {confirm: "You sure?"} %>

	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4>Comment</h4>
		<% if @comment.comment.present? %>
	    <%= @comment.comment %><br />
		<% else %>
			<br />
		<% end %>
	</div>
</div>
