<% provide(:title, @person.name) %>
<div class="row">
	<section class="span4">
		<h1>
			<%= @person.name %>
		</h1>
  <div>
    <%= link_to "Edit #{@person.name}", edit_person_path %>
  </div>
	</section>
	<section class="span4">
			<%= render @person %>
	</section>

</div>