<% provide(:title, @tag.name) %>
<div class="row">
	<section class="span4">
		<h1>
			<%= @tag.name %>
		</h1>
	</section>
	<section class="span4">
		<% @tagged_company.each do |company| %>
			<%= link_to company.name, company_path(id: company.id) %><br />
		<% end %>
	</section>

</div>