<% provide(:title, @tag.name) %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<h1>Tag: <%= @tag.name %></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h4>Tagged products</h4>
		<% @tagged_product.each do |product| %>
			<% @company = Company.find(product.company_id) %>
			<ul>
				<li>
				<%= link_to product.name, product_path(id: product.id) %> <%= link_to "(#{@company.name})", company_path(@company) %>
				</li>
			</ul>
		<% end %>

		<h4>Tagged companies</h4>
		<% @tagged_product.each do |product| %>
			<% @company = Company.find(product.company_id) %>
			<ul>
				<li>
				<%= link_to @company.name, company_path(@company) %>
				</li>
			</ul>
		<% end %>
	</div>
</div>