<% provide(:title, @tag.name) %>
<div class="row">
	<section class="span4">
		<h1>
			<%= @tag.name %>
		</h1>
	</section>
	<section class="span4">
		<% @tagged_product.each do |product| %>
			<%= link_to product.name, product_path(id: product.id) %><br />
		<% end %>
	</section>
	<section class="span4">
		<% @tagged_product.each do |product| %>
			<% @company = Company.find(product.company_id) %>
			<%= link_to @company.name, company_path(@company) %>
		<% end %>
	</section>

</div>