<% provide(:title) %>
<div class="row">
	<h4>Company</h4>
	<%= link_to Company.find_by_id(@link.company_id).name, company_path(id: @link.company_id) %><br />
	<h4>Link</h4>
  <%= @link.link_type %><br />
  <%= link_to @link.url, @link.url %>
</div>
