<% provide(:title, @company.name) %>
<div class="row">
	<section class="span4">
		<h1>
			<%= @company.name %>
		</h1>
	</section>
	<section class="span4">
			<%= render @company %>
	</section>

</div>