/*bootstrap-sassのミックスイン*/
@import "bootstrap-sprockets";
@import "bootstrap";

.header-margin{
	padding-bottom: 50px;
}

.footer-margin{
 	padding-top: 50px;
 }

/* Company#show */

.control{
 }

.articles-box{
	overflow: scroll;
	max-height: 150px;
	width: 100%;
	border-top-right-radius: 4px;
  border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 1px #ddd;
}

.userstamp{
  text-align: right;
}

.segment{
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

.bd-bottom{
  border-bottom: solid 1px #aaa;
}

/* Startsearch page */

.search-box{
  padding: 10px 0px;
}

.taglist-box{
  margin: 10px 0px;
  border-top: dashed 1px #333333;
}