<% provide(:title, @product.name) %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>
			<%= @product.name %>
		</h2>
	  <div>
	    <%= link_to "Edit #{@product.name}", edit_product_path %>
	  </div>

		<%= render @product %>

		<h4>Company</h4>
		<%= link_to Company.find_by_id(@product.company_id).name, company_path(id: @product.company_id) %>
		</div>
</div>