<header class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<li>Created by Takahiro Hoshi</li>
				</ul>
			</nav>
		</div>
	</div>
</header>