<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
			<!-- ログイン前はアカウント発行を表示し、ログイン後はユーザー情報へのリンクを表示 -->
			<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
				<ul class="nav pull-right">
						<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Help", help_path %></li>
					<!-- ログイン後のみログアウトへのリンクを表示する-->
					<li><%= link_to "logout", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>